* {
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: monospace;
    background-color: transparent;
    color: #202020;
    font: inherit;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    background-color: transparent;
    display: flex;
    align-items: top;
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    height: 100vh
}

body::after {
    content: "";
    background-image: url("../img/about-me.png");
    background-size: cover;
    opacity: .225;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1
}

li, ol, p, ul {
    font-size: 12pt;
    color: #535353;
    margin-left: 1.5em
}

.sidenav {
    height: 100vh;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #202020;
    overflow-x: hidden;
    padding-top: 20px
}

.sidenav .profile {
    background-color: #202020;
    margin-bottom: 30px;
    text-align: center
}

.sidenav .profile img {
    display: block;
    background-color: #202020;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto
}

.sidenav .profile h3 {
    margin-top: 10px;
    background-color: #202020;
    color: #fff;
    text-align: center
}

.sidenav .profile p {
    background-color: #202020;
    font-size: 14px
}

.sidenav a {
    display: block;
    padding-left: 10px;
    background-color: #202020;
    color: #fff;
    text-align: left;
    text-decoration: none;
    font-size: 12pt;
    line-height: 24pt;
    position: relative
}

.sidenav a .icon {
    background-color: #202020;
    color: #fff;
    width: 30px;
    display: inline-block;
    padding: 5;
    margin: 5px
}

.sidenav a.active, .sidenav a:hover {
    background-color: #fff;
    color: #202020;
    border-right: 2px solid #054468
}

.sidenav a.active .icon, .sidenav a:hover .icon {
    color: #fff;
    background: #202020
}

.sidenav a.active:before, .sidenav a:hover:before {
    display: block
}

.container {
    margin-left: 160px;
    font-size: 12pt;
    padding: 30px
}

h1, h2, h3, h4, h5, h6 {
    text-align: left;
    padding-bottom: 5px
}

h1 {
    font-size: 16pt;
    font-weight: 700
}

h2 {
    font-size: 14pt;
    font-weight: 700;
}

h3 {
    font-size: 12pt;
    font-weight: 700;
    margin-left: 1em
}

h4 {
    font-size: 10pt;
    font-weight: 700;
    text-decoration: underline
}

h5 {
    font-size: 10pt;
    font-weight: 700;
    font-style: italic
}

h6 {
    font-size: 10pt;
    font-style: italic
}

li, ul {
    font-size: 12pt
}

ol {
    list-style: decimal
}

ul {
    list-style: disc
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption, table, tbody, td, tfoot, th, thead, tr {
    line-height: 12pt
}

th {
    line-height: 16pt;
    fill: gray
}

td {
    padding-bottom: 10pt
}